*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://resizer.iproimg.com/unsafe/1200x/https://assets.iprofesional.com/assets/jpg/2020/10/505865.jpg");
    background-size: cover;
    color: black;
    
    font-family: "Playfair Display", sans-serif;
    min-height: 100vh;
}
header {
    font-size: 2rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.658) ;
    
    }

form{
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.658);
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


form input, form button{
    border:none;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 10px;
    margin: 5px;
    background: white;
    font-family: "Playfair Display", sans-serif; 
}
form button{
    color: lightblue;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    color: white;
    background: lightblue;
}

.todo-container{
display: flex;
justify-content: center;
align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin:  0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.todo li{
    flex: 1;
}
.trash-btn, .complete-btn{
    background:  white;
    color: lightblue;
    border:  none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background-color: lightblue;
    color:white;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
   opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 5px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
select{
    color:#ff4d4dd7;
    width:10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: white;
    color: lightblue;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after{
    background: lightblue;
    color:black;
}
.filter-todo{
    color: black;
}
input{
    text-align:center;
}